<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리작성해서 db에 보내고 결과 까지 받는 장소 -->
<mapper namespace="board">
	<select id="totalcount" resultType="int">
		select count(*) from NOTICE
	</select>

	<select id="listNoticeMap" resultType="com.hb.board.NoticeVO" parameterType="Map">
		<!-- select * from (select * from NOTICE order by notice_no desc)
		where rownum between #{begin} and #{end} -->
		
		select * from (
   		 		select  rownum r_num, a.* from(
   		 			select * from NOTICE order by notice_no desc
   		 			) a 
   				) where r_num between #{begin} and #{end}
		
	</select> 
	
	<select id="oneListNotice" resultType="com.hb.board.NoticeVO" parameterType="int">
		select * from NOTICE where notice_no = #{notice_no}
	</select>

	<insert id="insertNotice" parameterType="com.hb.board.NoticeVO">
		insert into NOTICE values(notice_seq.nextval, #{title}, #{writer}, #{content}, SYSDATE, #{importanceLevel})
	</insert>
	
	<delete id="deleteNotie" parameterType="com.hb.board.NoticeVO">
		delete from Notice where notice_no = #{notice_no}
	</delete>
	
	<update id="updateNotice" parameterType="com.hb.board.NoticeVO">
		update Notice set title = #{title}, writer = #{writer}, content =#{content}, importanceLevel = #{importanceLevel},
		writeDate = SYSDATE where notice_no = #{notice_no} 
	</update>
	
	<select id="listNotice" resultType="com.hb.board.NoticeVO">
		select * from NOTICE order by notice_no desc
	</select> 
	
<!-- ///////////////////////////////////////////////////////////////////////// -->	
	<select id="commuTotalcount" resultType="int">
		select count(*) from COMMUNITY where groupID = #{groupID}
	</select>
	
	<select id="selectCommuMenu" resultType="com.hb.board.CommunityVO" parameterType="String">
		select cg.groupID, cg.groupName 
		from COMMUNITYGROUP cg, COMMUNITYGROUPMEMBER cgm
		where cg.groupID = cgm.groupID and cgm.memberID = #{empID}
	</select>
	
	<select id="listCommuMap" resultType="com.hb.board.CommunityVO" parameterType="Map">
		select * from (
   		 		select  rownum r_num, a.* from(
   		 			select * from COMMUNITY where groupID = #{groupID} order by community_no desc
   		 			) a
   				) where r_num between #{begin} and #{end}
   			<!-- select * from (
   		 		select  rownum r_num, cg.groupName, a.* from(
   		 			select * from COMMUNITY where groupID = #{groupID} order by community_no desc
   		 			) a, COMMUNITYGROUP cg where a.groupID = cg.groupID
   				) where r_num between #{begin} and #{end} -->
	</select> 
	
	<select id="CommuSelectOne" resultType="com.hb.board.CommunityVO" parameterType="int">
		select * from COMMUNITY where community_no = #{community_no} 
	</select>
	
	<insert id="insertCommu" parameterType="com.hb.board.CommunityVO" >
		insert into COMMUNITY values(community_seq.nextval, #{title}, #{content}, #{writer}, SYSDATE, #{groupID})
	</insert>
	
	<delete id="deleteCommu" parameterType="com.hb.board.CommunityVO">
		delete from COMMUNITY where community_no = #{community_no}
	</delete>
	
	<update id="updateCommu" parameterType="com.hb.board.CommunityVO">
		update COMMUNITY set title = #{title}, content =#{content}, writer = #{writer}, writeDate = SYSDATE
		where community_no = #{community_no} and groupId = #{groupID} 
	</update>
	
	<!-- groupName만 가져오기 -->
	<select id="selectGroupName" resultType="String">
		select groupName from COMMUNITYGROUP where groupID = #{groupID}
	</select>
	
	<update id="empUpdate" parameterType="com.hb.employee.EmployeeVO">
		update COMMUNITYGROUPMEMBER	set groupID = 
			(select groupID from COMMUNITYGROUP where groupName =
				(select departmentName from DEPARTMENT where departmentID= #{departmentID}))
				where memberID = #{id}
	</update>
	
	<insert id="empInsert" parameterType="com.hb.employee.EmployeeVO">
		insert into COMMUNITYGROUPMEMBER values(
		(select groupID from COMMUNITYGROUP where groupName =
			(select departmentName from DEPARTMENT where departmentID= #{departmentID})), #{id})
	</insert>
	
	<select id="selectAllGroup" resultType="com.hb.board.CommunityVO">
		select * from COMMUNITYGROUP
	</select>
	
	<select id="select_listGroupID" resultType="int">
		select groupID from COMMUNITYGROUPMEMBER where memberID = #{empID}
	</select>
	
	<insert id="groupNameInsert" parameterType="map">
		insert all
		into COMMUNITYGROUP values(cgroup_seq.val,#{groupName})
		into COMMUNITYGROUPMEMBER values(
			(select groupID from COMMUNITYGROUP where groupName = #{groupName}),#{empID})
	</insert>
</mapper>










